#about-page {
    h1 {
        font-family: 'roboto-regular';
    }
    h2 {
        font-family: 'lato-thin';
        font-weight: 700;
    }
}
html[dir=rtl] {
    #about-page {
        h2 {
            font-family: 'tajawal-Light';
            font-weight: 700;
        }
    }
}