#account-page {
    #account-page-container {
        height: 100%;
        #register-box {
            #at-least {
                font-size: 2rem;
                font-family: lato-thin;
                font-weight: 700;
                padding-left: 1rem;
            }
            .form-check-label {
                span {
                    margin-left: 1rem;
                }
            }
        }
        #login-box, #register-box {
            width: 45rem;
            font-family: 'overlock-bold';
            h1 {
                font-size: 2.5rem;
            }
            h2 {
                font-size: 2rem;
                span {
                    color: var(--bd-primary-color);
                }
            }
        }
        @media screen and (max-width:450px){
            #login-box, #register-box {
                width: 100%;
            }
        }
    }
}
html[dir=rtl] {
    #account-page {
        #account-page-container{
            #login-box, #register-box {
                h1, h2 {
                    font-family: tajawal-regular;
                }
                label {
                    span {
                        font-family: tajawal-Light;
                    }
                }
            }
            #register-box {
                #list-of-interests {
                    h1#at-least {
                        font-family: tajawal-Light;
                        padding-left: 0;
                        padding-right: 1rem;
                    }
                }
                .form-check-label {
                    span {
                        margin-left: 0;
                        margin-right: 1rem;
                    }
                }
                .invalid-feedback {
                    font-family: tajawal-Light;
                }
            }
        }
    }
}