#app-footer {
    &_container {
        ul {
            li {
                margin-right: 1rem;
                &:last-child{
                    margin:0;
                }
                a {
                    i {
                        &::before {
                            font-size: 2rem;
                            color: white
                        }
                    }
                }
            }
        }
    }
}
html[dir=rtl] {
    #app-footer_container {
        ul {
            li {
                margin-right: 0rem;
                margin-left: 1rem;
            }
        }   
    }
}