#app-shopping-cart {
    position: absolute;
    bottom: -10rem;
    right: 5rem;
    border-radius: 0rem;
    margin-right: 1rem;
    font-family: overlock-bold;
    i {
        &::before {
            margin-right:1rem;
            font-size: 3rem;
        }
    }
    @media screen and (max-width:768px){
        & {
            position: unset;
            bottom: -6rem;
            right: 0;
            border-radius: unset!important;
            margin-right: unset!important;
            background-color: white!important;
            color: var(--bd-primary-color) !important;
            box-shadow: unset!important;
            #click-label {
                padding: 0.5rem 1rem;
                background: var(--bd-primary-color);
                color: white;
            }
            #summary {
                margin-top: 1.2rem;
            }
        }
    }
}
html[dir=rtl] {
    #app-shopping-cart {
        right: unset;
        left: 5rem;
        margin-right: unset;
        margin-left: 1rem;
        font-family: tajawal-regular;
        font-size: 1.6rem;
        i {
            &::before { 
                margin-right:unset;
                margin-left:1rem;
            }
        }
    }
}