@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
    font-family: "overlock-bold";
    src: url("./assets/Overlock-Bold.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("./assets/Roboto-Regular.ttf");
}

:root {
    --bd-primary-color: #f68b1e;
    --bd-secondary-color: #3d1212;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-size: 1.2rem;
    color: var(--bd-secondary-color);
}

#big-deals-app {
    min-height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

ul {
    margin: 0;
    padding :0;
}

.bd-btn {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.2rem 1.4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    &:hover {
        color: white;
    }
}
.bd-circle-btn {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    outline: 0;
    border: 0;
    border-radius: 50px;
    position: relative;
    height: 4rem;
    width: 4rem;
}
.bd-primary-btn {
    background-color: var(--bd-primary-color);
    color:white;
}

.bd-max-width-1200 {
    max-width: 1200px;
    margin: 0 auto;
}