#app-header {
    #app-header_cart-box {
        position: relative;
        z-index: 2;
    }
    &_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5.05rem 1fr;
        transition: background-color 0.3s linear;
        img#logo {
            width: 19.95rem;
            height: 5.05rem;
        }
        #main-nav {
            grid-column: span 2;
            li {
                padding-top: 1.5rem;
                a {
                    font-size: 1.6rem;
                    color: white;
                }
                a.base-nav-btn {
                    font-family: roboto-regular;
                }
                a#localization {
                    font-family: tajawal-regular;
                    line-height: 1;
                }
                &:last-child {
                    padding-bottom: 0.5rem;
                }
                &#account-loggedin {
                    display: flex;
                    align-items: center;
                    #btn {
                        .avatar, #toggler {
                            i::before{
                                color: white;
                            }
                        }
                        .avatar {
                            i::before {
                                font-size: 4rem;
                            }
                        }
                        #avatar-sm {
                            display: unset;
                        }
                        #avatar-lg {
                            display: none;
                        }
                        #toggler {
                            display: none;
                        }
                    }
                    #dialog {
                        display: flex;
                        a{
                            font-family: roboto-regular;
                            margin-left: 1rem;
                            font-size: 1.6rem;
                            color: white;
                            i::before {
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
        #hamburger-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-self: end;
            align-self: center;
            height: 4rem;
            width: 4rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid var(--bd-secondary-color);
            transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            .menu-bar,
            &:before,
            &:after {
                width: 100%;
                height: 0.3rem;
                background-color: var(--bd-secondary-color);
                display: block;
            }
            &:before,
            &:after {
                content: "";
            }
            &:before {
                margin-bottom: 1rem;
            }
            &:after {
                margin-top: 1rem;
            }
            &.state-closed {
                display: inline-block;
                position: relative;
                border: 1px solid white;
                padding: unset;
                border-radius: 25px;
                transform: rotate(180deg);
                .menu-bar,
                &:before,
                &:after {
                    background-color: white;
                    margin: 0;
                    padding: 0;
                    width: 40%;
                    height: 0.1rem;
                }
                .menu-bar {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }            
                &:after {
                    display: none;
                }
            }
        }
        @media screen and (min-width: 768px) {
            & {
                background-color: white!important;
                #hamburger-menu {
                    display: none!important;
                }
                #main-nav {
                    grid-column: span 1;
                    justify-self: end;
                    align-self: center;
                    display: flex;
                    align-items: center;
                    li {
                        margin-right: 2rem;
                        padding-top: unset;
                        border-bottom: unset;
                        display: inline-block;
                        &:last-child {
                            margin: 0;
                            padding-bottom: 0;
                        }
                        a {
                            font-size: 1.6rem;
                            color: var(--bd-secondary-color);
                        }
                        &#account-loggedin {
                            position: relative;
                            margin-right: 4rem;
                            #btn {
                                .avatar, #toggler {
                                    position: absolute;
                                    left: 50%;
                                    i::before{
                                        color: var(--bd-primary-color);
                                    }
                                }
                                .avatar {
                                    top:50%;
                                    transform: translate(-50%, -50%);
                                }
                                #avatar-sm {
                                    display: none;
                                }
                                #avatar-lg {
                                    display: unset;
                                }
                                #toggler {
                                    top:100%;
                                    transform: translate(-50%, 40%);
                                    display: block;
                                    font-size: 2rem;
                                }
                            }
                            #dialog {
                                display: inline-block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, 4rem);
                                color: var(--bd-secondary-color);
                                margin-left: 0rem;
                                background-color: white;
                                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
                                padding: 1rem;
                                z-index: 3;
                                a {
                                    color: var(--bd-secondary-color);
                                    margin: 0;
                                    &:last-of-type {
                                        margin-top: 0.5rem;
                                    }
                                }
                                &.hide {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
html[dir=rtl] {
    #app-header {
        &_container{ 
            #main-nav {
                li {
                    a.base-nav-btn {
                        font-family: tajawal-regular;
                    }
                    a#localization {
                        font-family: roboto-regular;
                    }
                    &#account-loggedin {
                        #dialog {
                            a{
                                margin-left: 0rem;
                                margin-right: 1rem;
                                font-family: tajawal-regular;
                                i::before {
                                    margin-left: 0rem;
                                    margin-right: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
            @media screen and (min-width: 768px) {
                & {
                    #main-nav {
                        li {
                            margin-right: 0rem;
                            margin-left: 2rem;
                            &:last-child {
                                margin: 0;
                            }
                            a {
                                font-weight: 700;
                            }
                            &#account-loggedin {
                                margin-right: 0rem;
                                margin-left: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}