#comments-page{
    ul {
        margin-top: unset;
        li:first-of-type { 
            margin: unset;
        }
    }
    #rate {
        h1 {
            svg {
                #rating-circle {
                    transition: all 2s ease-in-out;
                }
            }
        }
        h2 + div {
            justify-content: center;
        }
    }
}