#comments-page{
    #make-comment {
        button {
            span {
                @include withRtl('margin', 0 0 0 1rem, 0 1rem 0 0);
            }
        }
    }
    ul {
        li {
            &:first-of-type { 
                margin: unset;
            }
            &:last-of-type { 
                border: unset;
            }
        }
    }
    #appreciate {
        h1 {
            line-height: 5rem;
        }
    }
    #rate-in {
        & > div {
            justify-content: center;
        }
    }
    #rate-out {
        h1 {
            svg {
                #rating-circle {
                    transition: all 2s ease-in-out;
                }
            }
        }
        h2 + div {
            justify-content: center;
        }
    }
}