#img-avatar {
    &_ctrls {
        label {
            @include withRtl('left', 60%, unset);
            @include withRtl('right', unset, 60%);
        }
    }
}
form {
    input,
    textarea {
        @include withRtl('padding', 1rem 1rem 1rem 0.5rem, 1rem 0.5rem 1rem 1rem);
        &:focus ~ label,
        &:not([value=""]) ~ label {
            top: -14px;
            font-size: 1.5rem;
        }
        &:focus ~ .bar:before {
            width: 100%;
        }
    }
    input[type="password"] {
        letter-spacing: 0.3em;
    }
    label {
        @include withRtl(left, 0.5rem, unset);
        @include withRtl(right, unset, 0.5rem);
    }
    .bar {
        &:before {
            content: '';
            height: 2px;
            width: 0;
            bottom: 0px;
            position: absolute;
            background: var(--bg-primary-color);
            transition: 300ms ease all;
            left: 0%;
        }
    }
    .error {
        @include withRtl('text-align', left, right);
    }
    button {
        &[disabled] {
            background-color: rgba(128, 128, 128, 0.7);
            color: white;
        }
    }
}