//base
html {
    font-size: 62.5%;
}
html, body, #bd-app, #bd-app-body, #body-container, #layout-wraper, nav, .content-page {
    height: 100%;
    overflow: hidden;
}

//utilities
@mixin withRtl($property, $ltr-value, $rtl-value) {
    & {
      #{$property}: $ltr-value;
    }
  
    [dir='rtl'] & {
      #{$property}: $rtl-value;
    }
}