//colors
:root {
  --primary: #f68b1e;
  --primary-dim: #f9ae62;
  --bg: white;
  --font-color: black;
  &.dark {
    --primary: #8d9cb1;
    --primary-dim: #b3c4dd;
    --bg: #0c1124;
    --font-color: white;
  }
}

//base elements
html {
  font-size: 62.5%;
}

html, nav {
  background-color: var(--bg);
  color: var(--font-color);
}

html, body, #bd-app, #bd-app-body, #body-container, #layout-wraper, #main-content, nav, .content-page {
  height: 100%;
  overflow: hidden;
}
*:focus {
  outline: unset!important;
}

//mixins
@mixin withRtl($property, $ltr-value, $rtl-value) {
  & {
    #{$property}: $ltr-value;
  }

  [dir='rtl'] & {
    #{$property}: $rtl-value;
  }
}

//base classes
.bd-unit {
  display: inline-block;
  @include withRtl('margin', 0 0 0 1rem, 0 1rem 0 0)
}
.bd-font-base {
  @include withRtl('font-family', "Source Sans Pro", Vazirmatn);
}
.bd-font-compo {
  @include withRtl('font-family', Montserrat, Tajawal);
}

//loading spinner
.spinner {
  margin: 1.5rem auto;
  height:4rem;
  width: 7rem;
  text-align: center;
  & > div {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--primary);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

//modal
.ReactModalPortal {
  position: relative;
  z-index: 9999;
  & > .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    .ReactModal__Content {
      & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: calc(100% - 2rem);
        max-width: 37.5rem;
        height: 20rem;
      }
      &.slider-modal > div {
        max-width: 76.8rem;
        max-height: 65.3rem;
        height: 100%;
        width: 100%;
      }
    } 
  }
}

//slider
.slick-slider {
  .slick-dots {
    bottom: -4.5rem;
    li {
      button {
        &:before {
          font-size: 25px;
          color: var(--primary);
          opacity: 0.5;
        }
      }
      &.slick-active {
        button {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

//avatar
#avatar-placeholder {
  max-width: 15rem;
  height: 18rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#avatar-ctrls {
  max-width: 12rem;
}

//customized checkbox
.container-label {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ffd7af;
}
.container-label input:checked ~ .checkmark {
  background-color: var(--primary);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-label input:checked ~ .checkmark:after {
  display: block;
}
.container-label .checkmark:after {
  left: 0.9rem;
  top: 0.5rem;
  width: 0.7rem;
  height: 1.4rem;
  border: solid white;
  border-width: 0 0.3rem 0.3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//fix autofill
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  box-shadow: 0 0 0 30px var(--bg) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--bg) inset !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: var(--font-color) !important;
}

//fix react-stars-half
span[data-forhalf] {
  @include withRtl('transform', scale(1, 1), scale(-1, 1));
  &::before {
    @include withRtl('left', 0, unset);
    @include withRtl('right', unset, 0);
  }
}

//inputs global style
button[disabled] {
  background-color: var(--primary-dim)!important;
}

//scroll bar
div[data-simplebar=init] {
  .simplebar-track.simplebar-vertical {
    @include withRtl(right, 0, unset);
    @include withRtl(left, unset, 0);
  }
}
.simplebar-scrollbar::before {
  background-color: var(--primary)!important;
  opacity: 1!important;
}