#home-page {
    align-self: center;
    h1 {
        font-family: "overlock-bold";
        font-weight: 700;
        font-size: 4.2rem;
    }
    button {
        font-family: "roboto-regular";
        font-weight: 300;
    }
}