#home-page {
    align-self: center;
    h1 {
        font-family: "overlock-bold";
        font-weight: 700;
        font-size: 4.5rem;
        .deals-word {
            color: var(--bd-primary-color);
        }
    }
    h3 {
        font-family: "overlock-bold";
        font-weight: 700;
        font-size: 2.5rem;
    }
    .bd-btn {
        font-family: "roboto-regular";
        font-weight: 300;
        font-size: 2rem;
    }
}
html[dir=rtl] {
    #home-page {
        h1, h3, .bd-btn {
            font-family: tajawal-regular;
        }
    }
}