#home-page {
    h1 {
        font-family: "overlock-bold";
        font-weight: 700;
        font-size: 4.5rem;
        .deals-word {
            color: var(--bd-primary-color);
        }
    }
    h3 {
        font-family: "overlock-bold";
        font-weight: 700;
        font-size: 2.5rem;
    }
    .bd-btn {
        font-family: "roboto-regular";
        font-weight: 300;
        font-size: 2rem;
    }
    @media screen and (max-width:425px){
        & {
            h1 {
                font-size: calc(1.4rem + 7vw);
            }
            h3 {
                font-size: calc(1.4rem + 2.5vw);
            }
        }
    }
}
html[dir=rtl] {
    #home-page {
        h1, h3, .bd-btn {
            font-family: tajawal-regular;
        }
    }
}