#orders-wrapper {
    #current-orders-wrapper, #old-orders-wrapper {
        height: calc(100% - 6.5rem)!important;
        
        div[data-simplebar=init] {
            height: 100%!important;
            max-height: 70rem!important;
        }
        ul[mode=orders] {
            padding: 0 2rem;
            li {
                .order-header {
                    h1{
                        @include withRtl('text-align', left, right);
                    }
                }
            }
        }
    }
}