#products-page {
    #products-list {
        .product-item {
            .card {
                border: 0.1rem solid var(--bd-secondary-color);
                .card-title {
                    font-family: 'overlock-bold';
                    font-size: 2.4rem;
                }
                .card-text {
                    font-family: 'roboto-regular';
                    font-size: 2rem;
                    font-weight: 700;
                    .price-unit {
                        margin-left: 1rem;
                    }
                }
                .bd-stars-calc {
                    margin-bottom: 1.5rem;
                    .value-container {
                        font-size: 2rem;
                    }
                }
                .ctrls {
                    a {
                        i {
                            &::before {
                                font-size: 2rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (min-width:320px) {
            justify-content: space-around;
            & {
                .product-item {
                    width: 100%;
                    max-width: 32rem;
                }
            }
        }

        @media screen and (min-width:512px) {
            & {
                .product-item {
                    width: 50%;
                }
            }
        }

        @media screen and (min-width:768px) {
            justify-content: flex-start;
            & {
                .product-item {
                    width: calc(100% / 3);
                }
            }
        }
        
        @media screen and (min-width:992px) {
            & {
                .product-item {
                    width: 25%;
                }
            }
        }
    }
}
html[dir=rtl] {
    #products-page {
        #products-list {
            .product-item {
                .card {
                    .card-title {
                        font-family: tajawal-Regular;
                    }
                    .card-text {
                        .price-unit {
                            margin-left: 0rem;
                            margin-right: 1rem;
                            font-family: tajawal-Light;
                        }
                    }
                    .ctrls {
                        .link-to-product {
                            a {
                                font-family: tajawal-regular;
                            }
                        }
                    }
                }
            }
        }
    }
}