#search-page {
    #search-page-container {
        max-width: 70%;
        .form-group {
            input {
                background-color: var(--bd-tertiary-color);
                font-size: 3rem;
                height: 9rem;
            }
            label {
                top: 5rem;
            }
            input:focus ~ label, input:not([value=""]) ~ label {
                top: 2rem;
            }
        }
        ul#search-list {
            & > li {
                border-bottom: 0.1rem solid var(--bd-primary-color);
                .img-container {
                    width: 30%;
                }
                .info-container {
                    width: 60%;
                    padding-left: 1.5rem;
                    h1 {
                        font-size: 3rem;
                        font-family: overlock-bold;
                    }
                    .info-container-stars-calc {
                        max-width: 40rem;
                        .value-container {
                            font-size: 2.5rem;
                        }
                    }
                    #product-price {
                        font-size: 3rem;
                        font-weight: bold;
                        font-family: roboto-regular;
                    }
                }
            }
            li:last-child {
                border: unset;
            }
        }

        @media screen and (max-width: 992px){
            .form-group {
                max-width: 100%;
            }
            ul#search-list {
                max-width: 100%;
                & > li {
                    .img-container {
                        width: 50%;
                    }
                    .info-container {
                        width: 50%;
                        .bd-stars-calc {
                            max-width: 25rem;
                            .stars-container {
                                width: 70%;
                            }
                            .value-container {
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 768px){
            max-width: 100%;
        }

        @media screen and (max-width: 425px){
            .form-group {
                max-width: 100%;
            }
            ul#search-list {
                max-width: 100%;
                & > li {
                    flex-direction: column;
                    max-width: 32rem;
                    margin: 0 auto;
                    .img-container {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                        display: block;
                    }
                    .info-container {
                        width: 100%;
                        display: block;
                        padding-left: unset;
                        & > h1, & > h2, & > div {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
html[dir=rtl] {
    #search-page {
        #search-page-container {
            ul#search-list {
                & > li {
                    .info-container {
                        padding-left: 0;
                        padding-right: 1.5rem;
                        h1, .price-unit {
                            font-family: tajawal-Light;
                        }
                    }
                }
            }
        }
    }
}