#single-product-page {
    overflow: hidden;
    .single-product-container {
        font-family: 'roboto-regular';
        #product-info {
            &-left {
                width: 40%;
                .imgs-swiper, .thumbs-swiper {
                    overflow: hidden;
                    position: relative;
                    width: 100%!important;
                }
                .thumbs-swiper {
                    height: 20rem!important;
                    .thumbs-swiper-scrollbar {
                        height: 0.3rem;
                        width: 100%;
                        position: absolute;
                        top: 80%;
                        background-color: lightgray;
                        .swiper-scrollbar-drag {
                            height: 0.3rem;
                            width: 10rem;
                            background-color: var(--bd-primary-color);
                        }
                    }
                }
                .imgs-swiper {
                    height: 25rem!important;
                    .swiper-wrapper {
                        width: 100%!important;
                        height: 100%!important;
                        .swiper-slide {
                            width: 100%!important;
                            height: 100%!important;
                        }
                    }
                }
            }
            &-right {
                width: 60%;
                padding-left: 3rem;
                #product-name {
                    font-size: 2.5rem;
                    font-weight: bold;
                    font-family: 'overlock-bold';
                }
                #features {
                    li {
                        font-size: 1.6rem;
                        display: inline-block;
                        color: var(--bd-secondary-color);
                        text-transform: uppercase;
                    }
                }
                .avg-rate-opt {
                    width: 25rem;
                    margin: 1.5rem 0rem;
                    .value-container {
                        font-size: 2rem;
                    }
                }
                #product-price {
                    font-size: 3rem;
                    font-weight: bold;
                    .price-num {
                        margin-left: 1rem;
                    }
                }
                #add-to-cart {
                    button {
                        width: 22rem;
                        font-size: 2rem;
                        font-weight: bold;
                        justify-content: space-between;
                        i {
                            &::before {
                                font-size: 3rem;
                            }
                        }
                    }   
                }
                #description-points {
                    font-size: 1.6rem;
                    list-style-position: inside;
                }
            }
        }
        #product-reviews {
            button {
                margin-top: 1.5rem;
            }
            ul#reviews-lists {
                li {
                    height: 250px;
                    border: 1px solid black;
                }
            }
        }
    }
    & {
        @media screen and (max-width: 768px) {
            .single-product-container {
                #product-info {
                    flex-wrap: wrap;
                    width: 100%;
                    &-left, &-right {
                        width: 100%;
                        display: block;
                    }
                    &-right {
                        padding-left: 0;
                        #product-price {
                            margin-bottom: 2rem;
                        }
                        #shipping {
                            text-align: center;
                        }
                        #add-to-cart {
                            button {
                                width: 100%;
                                justify-content: center;
                                i {
                                    padding: 0 1rem;
                                }
                            }
                        }
                    }
                    &-left {
                        text-align: center;
                    }
                }
            }
        }
    }
}