@tailwind base;
@tailwind components;
@tailwind utilities;

// as per tailwind schema
:root {
  --slider-bg: #f68b1e;

  &.dark {
    --slider-bg: #0ea5e9;
  }
}

html, body, #app {
  height: 100%;
}

html {
  font-size: 62.5%;

  &.is-rtl {
    direction: rtl;
  }
}

.font-mont {
  @include withRtl('font-family', 'Montserrat', 'Tajawal');
}

.font-ssp {
  @include withRtl('font-family', 'Source Sans Pro', 'Vazirmatn');
}

// scroller global style
.simplebar-content-wrapper {
  width: 100vw;
  display: grid;
  align-items: center;
}
div[data-simplebar=init] {
  .simplebar-track.simplebar-vertical {
    @include withRtl(right, 0, unset);
    @include withRtl(left, unset, 0);
  }
}
.simplebar-scrollbar::before {
  background-color: var(--slider-bg);
  opacity: 1!important;
  width: 0.4rem!important;
}